<%- include('../includes/head') -%>

<body class="reset-body">
  <div class="reset-body-child">
    <header class="reset-header">
      <img class="reset-img" src="images/logo.png" alt="FTHub logo" />
    </header>
    <main class="reset-main">
      <form action="/reset" method="POST" class="reset-main-div">
        <h1>Забравена парола</h1>
        <div class="reset-input-div">
          <label for="newPassword">E-Mail</label>
          <input class="input reset-input" type="email" name="email" />
        </div>
        <a
          href="/account"
          type="button"
          class="reset-return-button button-blue"
        >
          <i class="fa-solid fa-angles-left"></i> <span>Назад</span>
        </a>
        <button class="reset-button button-blue">Изпращане</button>
      </form>
      <div class="reset-message">
        <% if (successMessage) { %>
        <div class="msg-div msg-success">
          <h6 class="success-message">
            Успешно изпращане на имейл. Моля последвайте стъпките в него
          </h6>
        </div>
        <% } %> <% if (errMessage) { %>
        <div class="msg-div">
          <h6 class="error-message">
            Имейлът не съвпада с вече съществуващ профил
          </h6>
        </div>
        <% } %>
      </div>
    </main>
  </div>
</body>
