<%- include('../includes/head') %>
<body class="dashboard-body">
  <%- include('../includes/dashboard-nav') %>
  <div class="charts-div">
    <div class="doughnut">
      <canvas class="doughnutChart"></canvas>
    </div>
    <div class="history-chart">
      <canvas class="historyChart"></canvas>
    </div>
  </div>
</body>
