<%- include('../includes/head') %>
<main>
  <body class="payment-body">
    <div class="payment-container">
      <div class="payment-wrapper">
        <h2>Закупуване на план "Премиум"</h2>
        <div class="payment-main">
          <input type="number" class="payment-card-number" />
        </div>
      </div>
    </div>
  </body>
</main>
